.Container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;

     }

     .Container2{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
       background-color: whitesmoke;
     
         }

     .h4{
        text-align: center;
        font-size:26px ;
    }

    .imgDiv{
            display:'flex';
            flex-direction:'column';
            align-content:'space-between';
            transition: transform .2s;
            
            border-left: 1px solid grey;
            height: 300px;
            padding-left:'2px';
          
    }
    .imgDiv :hover{
        transition:scale(1.6);
        transition-delay: 0.1s ease;
        height:200px;
        width:200px;
        box-shadow: 0 2px 2px rgb(11 25 28 / 10%);
    }